extends  ../../_part/_baseShell

block head
	title Page One
	include ../../_part/_header

block main
	.mui-container-fluid
		p
		p Hello from Page One!

	script.
		function init() {
			console.log('Page One init')
			//do custom stuff with loaded libs here
		}
		onAppReady(init)

block footer
	include ../../_part/_footer
