extends  ../../_part/_baseShell

block head
	title Page One
	include ../../_part/_header

block main
	.mui-container-fluid
		p
		include _hello.html

		first-el
	#comps
	script.
		TS.onAppReady(UIinit)
		function UIinit() {
			console.log('x')
			TS.loadComp($('#comps'),'/_webComp/first.html', UIComp1Init)
		}

		function UIComp1Init() {
			let el = customElements.get('first-el')
			if(!el) customElements.define('first-el', FirstEl)// loaded w/ template
			let m = document.querySelector('first-el')
			m.tst()
		}

block footer
	include ../../_part/_footer
