extends  ../../_part/_baseShell

block head
	title Page One
	include ../../_part/_header

block main
	.mui-container-fluid
		p
		p Hello from Page One!

	script.
		ST.onAppReady(UIinit)
		function UIinit() {
			console.log('x')
		}


block footer
	include ../../_part/_footer
