template#xfirst-el
	style.
		p { color: orange; }
	p I'm Shady

script.
	console.log('template')
	class FirstEl extends HTMLElement {
		constructor() {
			super()
			console.log('first')
			this._emit = flyd.stream()
			let shadowRoot = this.attachShadow({mode: 'open'})
			const t = document.querySelector('#xfirst-el')
			const instance = t.content.cloneNode(true)
			shadowRoot.appendChild(instance)
		}//()

		tst() {
			console.log('XXX')
		}

	}//class
