extends  ../../_part/_baseShell

block head
	title Page Three
	include ../../_part/_header

block main
	.mui-container-fluid
		p
		P Wolfgang's Page Three!

		include _buttons

	script.
		TS.onAppReady(UIinit)
		function UIinit() {
			console.log('x')
		}

block footer
	include ../../_part/_footer
