extends  ../../_part/_baseShellA

block head
	include ../../_part/_headerA

	link(rel='canonical', href='https://www.masons-foundation.org/train/homeReact2Polymer/')

block top
	include ../../_part/_topA

block main
	.mui-container-fluid
		include one.html

block footer
	include ../../_part/_footerA
