// AMP & Flexbox layout
// main.sass also imports _classicFooter.scss overrides for compatibility with IE.

// Default M.ui variables (See muicss.com) ============================================
$base-line-height: 24px !default; // This is your web-app's vertical rhythm. KEY!
$headerH: $base-line-height * 1.5 !default;
$mui-appbar-height: $headerH;
$mui-appbar-height-xs-portrait: $headerH;
$mui-appbar-height-xs-landscape: $headerH;
$mui-base-font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
$mui-base-font-color: $primary-text-color;
$mui-base-font-size: $base-line-height * .65; // golden ratio as % of line-height
$mui-base-font-smoothing: true;
$box-shad: 0 2px 3px rgba(0,0,0,.4);
$box-shad__hov: 0 3px 4px rgba(0,0,0,.7);

@import 'sass/mui';

* {
	font-family: $mui-base-font-family;
}

html {
	line-height: $base-line-height;
	min-height: 100vh;
}

body {
	animation: none;
	background-color: white;
	color: $primary-text-color;
	display: flex;
	flex-direction: column;
	margin: 0;
	min-height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
}

amp-img, img {
	background-color: grey;
}

// Shell with menu bar and navigation  ================================================
#appbar,
#sidedrawer {
	position: fixed;
	top: 0;
}

#sidedrawer {
	background-color: $primary-color-light;
	left: -201px;
	overflow: hidden;
	position: absolute;
	width: 200px;
	z-index: 200;
}

// We keep most of sidedrawer in _sidedrawer.scss to make this file easier to read.
@import '_sidedrawer';

// brand
#sidedrawer--brand,
#appbar--brand {
	text-decoration: none;
}

#sidedrawer--brand:hover,
#appbar--brand:hover {
	cursor: pointer;
}

#appbar {
	align-content: space-between;
	background-color: $primary-color-dark;
	box-shadow: $box-shad;
	color: $primary-color-light;
	display: flex;
	flex-direction: row;
	height: $headerH;
	left: 0;
	line-height: $headerH;
	max-width: 100vw;
	min-width: 100vw;
	overflow: hidden;
	vertical-align: middle;
	z-index: 100;
}

#appbar a {
	color: $primary-color-light;
	text-decoration: none;
}

#appbar--menu,
#appbar--brand,
#sidebar--brand {
	border: 0;
	height: $headerH;
	line-height: $headerH;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

#appbar--push {
	flex-grow: 1;
}

#appbar--menu {
	color: $primary-color-text ;
	margin-right: $mui-base-font-size *1.5;
}


#appbar--menu li:hover {
	background-color: $accent-color;
	cursor: pointer;
	line-height: $headerH;
}

#appbar--menu a {
	transition: color .2s ease-in; // optional
}

#appbar--menu a:hover {
	color: $primary-color-text;
}


// Shell Content ======================================================================
#content-wrapper {
	//font-family: 'Noto Serif', serif;
	background-color: white;
	margin-top: $headerH;
	width: 100vw;

	flex-grow: 1;
}

#content-wrapper * {
	//font-family: 'Noto Serif', serif;
}


// Footer, sticky but not fixed (scrolls out of view when body is tall) ===============================================
#footer {
	background-color: $primary-color;
	color: $primary-text-color;
	max-width: 100vw;
	min-height: 1.5 * $base-line-height;
	min-width: 100vw;
	overflow: hidden;
	z-index: 50;
}

#footer_div {
	align-content: space-between;
	display: flex;
	flex-direction: row;
	padding-left: $base-line-height *.5;
	padding-right: $base-line-height *.85;
	padding-top: $base-line-height *.25;
}

#footer_div--push {
	flex-grow: 1;
}

#footer_div--right {
	margin-right: $mui-base-font-size *1.5;
}
